services:
  kafka:
    mem_limit: 512M
    working_dir: /app
    image: redpandadata/redpanda:latest
    container_name: kafka
    command:
      - redpanda
      - start
      - --smp 1
      - --memory 256M
      - --overprovisioned
      - --node-id 0
      - --check=false
      - --kafka-addr=PLAINTEXT://0.0.0.0:9092
      - --advertise-kafka-addr=PLAINTEXT://kafka:9092
    environment:
      PYTHONPATH: /app
    ports:
      - "9092:9092"
    healthcheck:
      test: ["CMD-SHELL", "rpk cluster info || exit 1"]
      interval: 5s
      timeout: 5s
      retries: 10


  postgres:
    mem_limit: 256M
    working_dir: /app
    image: postgres:16
    container_name: postgres
    environment:
      POSTGRES_DB: requests
      POSTGRES_USER: edrian
      POSTGRES_PASSWORD: Edrik5500
      PYTHONPATH: /app
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
      - ./db_edrian/init.sql:/docker-entrypoint-initdb.d/init.sql:ro
    depends_on:
      kafka:
        condition: service_healthy
    restart: on-failure
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U edrian -d requests -h postgres -p 5432 "]
      interval: 5s
      timeout: 5s
      retries: 10

  api:
    mem_limit: 512M
    working_dir: /app
    build:
        context: .
        dockerfile: api_server_edrian/app/Dockerfile
    container_name: api
    environment:
        DB_URL: postgresql://edrian:Edrik5500@postgres:5432/requests
        KAFKA_BOOTSTRAP_SERVERS: kafka:9092
        PYTHONPATH: /app
    depends_on:
      postgres:
        condition: service_healthy
      kafka:
        condition: service_healthy
      db_initializer:
        condition: service_completed_successfully
    ports:
      - "8000:8000"
    restart: on-failure


  logic-worker:
    mem_limit: 256M
    working_dir: /app
    build:
      context: .
      dockerfile: logic_worker_edrian/app/Dockerfile
    container_name: logic-worker
    environment:
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      DB_URL: postgresql://edrian:Edrik5500@postgres:5432/requests
      PYTHONPATH: /app
      DEEPSEEK_API_KEY: ${DEEPSEEK_API_KEY}
    depends_on:
        kafka:
          condition: service_healthy
        postgres:
          condition: service_healthy
        db_initializer:
          condition: service_completed_successfully
    restart: on-failure


  telebot:
    mem_limit: 256M
    working_dir: /app
    environment:
      TELEGRAM_API_KEY : ${TELEGRAM_API_KEY}
      PYTHONPATH: /app
      GITHUB_TOKEN : ${GITHUB_TOKEN}
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY} 
      AWS_DEFAULT_REGION: ${AWS_DEFAULT_REGION}
    build: 
      context: .
      dockerfile: bot/app/Dockerfile
    container_name: telegram_bot
    volumes:
    - ./final_project_of_backend_development:/final_project_of_backend_development
    - ./exports:/data
    - C:/Users/edrik_cgifjkr/.ssh:/root/.ssh:ro
    - C:/Users/edrik_cgifjkr/.aws:/root/.aws:ro

    restart: always
    depends_on:
        kafka:
          condition: service_healthy
        postgres:
          condition: service_healthy
        api:
          condition: service_started
        logic-worker:
          condition: service_started
        db_initializer:
          condition: service_completed_successfully

  db_initializer:
    image: python:3.11-slim
    working_dir: /app
    volumes:
    - C:/Users/edrik_cgifjkr/Desktop/final_software_project_of_nadav_gothait/project_folder_trivia_game/trivia_telegram_bot/shared_edrian:/app/shared_edrian
    environment:
      PYTHONPATH: /app
      DB_URL: postgresql://edrian:Edrik5500@postgres:5432/requests
    command: bash -c "pip install -r /app/shared_edrian/requirements_for_compose/requirements_for_docker_compose.txt && python /app/shared_edrian/models/data_base.py"
    depends_on:
      postgres:
        condition: service_healthy
    restart: "no"

volumes:
  pg_data: