# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd
# Virtual environments
.venv/
env/


# Git
.git/
.gitignore


# Docker
docker-compose.yml
Dockerfile

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Tests / temp
tests/
tmp/

# Exports (נשמרים כ-volume)
exports/